.not-found {
  max-width: 1280px;
  max-height: 700px;
  margin: auto;
  background-color: #FFF;
}

.not-found__title {
  padding-top: 246px;
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.not-found__text {
  margin: 5px 0 0 0;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.not-found__link {
  padding-bottom: 60px;
  margin: 184px auto 60px auto;
  color: #3456F3;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #FFF;
  background: #FFF;
}
.not-found__link:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (min-width: 768px)and (max-width: 1023px) {
  .not-found {
    max-height: 1024px;
  }
  .not-found__title {
    padding-top: 408px;
  }

  .not-found__link {
    padding-bottom: 222px;
    background-color: #FFF;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .not-found {

    max-height: 780px;
  }
  .not-found__title {
    padding-top: 329px;
    font-size: 80px;
  }

  .not-found__text {
    margin-top: 10px;
    font-size: 12px;
  }

  .not-found__link {
    padding-bottom: 30px;
    margin-top: 284px;
    font-size: 12px;
  }
}