.header {
  background: #FAFAFA;
  padding: 18px 70px;
  margin: auto;
}

.header__container {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__button-container {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header__button-films-list{
margin: 0;
padding: 0;
display: flex;
gap: 18px;
align-items: center;
}
.header__button-item{
  list-style: none;
}
.header__button-container_films {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__button-container_gap {
  gap: 16px;
}

.header__button {
  color: #000;
  background: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  font-family: Inter;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__button:hover {
  opacity: 0.8;
}

.header__button_active {
  min-height: 32px;
  min-width: 76px;
  background: #3456F3;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  text-align: center;
}

.header__films-container {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__button-menu {
  display: none;
  width: 44px;
  height: 44px;
  background: none;
  border: none;
}
.header__button-menu:hover {
  opacity: .8;
  cursor: pointer;
}

.header__button-films {
  color: #000;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.header__button-films:hover {
  opacity: 0.7;
}

.active {
  font-weight: 500;
}

.header__button-account {
  display: flex;
  margin: 0;
  max-width: 72px;
  height: 28px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, .1);
  justify-content: space-between;
  align-items: center;
  background: #FAFAFA;
  padding: 0 12px 0 12px;
  gap: 7px;
  background: none;
  text-decoration: none;
}

.header__button-account:hover {
  opacity: 0.7;
}

.header__button-text {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  max-width: 57px;
}

@media screen and (min-width: 601px)and (max-width: 800px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__button-container_films {
    display: none;
  }

  .header__button-account {
    display: none;
  }

  .header__button-menu {
    display: block;
    z-index: 5;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .header {
    padding: 16px 14px 18px 15px;
  }

  .header__button-container_films {
    display: none;
  }

  .header__button-account {
    display: none;
  }

  .header__button-menu {
    display: block;
    width: 40px;
    height: 43px;
    object-fit: scale-down;
  }

  .header__button-menu_image {
    width: 100%;
    height: 100%;
  }

  .header__button_active {
    min-height: 26px;
    min-width: 54px;

  }

  .header__button-container {
    gap: 14px;
  }

  .header__button {
    font-size: 10px;
  }
}