.techs {

  margin: auto;
  background: #F5F5F5;
}

.techs_width-container {
  max-width: 1280px;
  margin: auto;
}

.techs__title {
  margin: 90px auto auto auto;
  padding: 0;
  max-width: 600px;
  max-height: 58px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.techs__description {
  margin: 26px auto 100px auto;
  padding: 0;
  max-width: 460px;
  max-height: 40px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.techs__list {

  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
  justify-content: center;
  list-style: none;
  padding-bottom: 100px;

  /* display: inline; */
}

.techs__list-item {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #E8E8E8;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (min-width: 1024px)and (max-width: 1280px) {}

@media screen and (min-width: 768px)and (max-width: 1023px) {
  .techs__title {
    margin-top: 80px;
  }

  .techs__description {
    margin: 22px auto 83px auto;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .techs__list {
    padding-bottom: 90px;

  }

  .techs__list-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .techs {
    height: 651px;
  }

  .techs__title {
    margin-top: 60px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .techs__description {
    margin: 24px auto 50px auto;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }

  .techs__list {
    padding-bottom: 70px;
    grid-template-columns: repeat(2, 84px);
  }

}